<%@ CodeTemplate Language="C#" ResponseEncoding="UTF-8" TargetLanguage="C#" Debug="TRUE" Inherits="OutputFileCodeTemplate"%>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>

<%@ Assembly src="Helper.cs" %>
<%@ Import Namespace="Common" %>

<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="Tables" %>
<%@ Property Name="QuoteOpen" Type="String" Category="DbContextXml" Optional="True" Description="Quote" %>
<%@ Property Name="QuoteClose" Type="String" Category="DbContextXml" Optional="True" Description="Quote" %>
<%@ Property Name="SqlIdSuffix" Type="String" Category="DbContextXml" Optional="True" Description="DbContext Xml Sql Section Id Suffix" %>
<%@ Property Name="SqlRefGenerate" Type="Boolean" Default="False" Category="DbContextXml" Optional="True" Description="Whether to generate sql configuration sections for other configuration sections include" %>

<%@ Property Name="DbContextAssembly" Type="String" Category="DbContext" Description="DbContext Assembly" %>
<%@ Property Name="DbContextNamespace" Type="String" Category="DbContext" Description="DbContext Namespace" %>
<%@ Property Name="DbContextName" Type="String" Category="DbContext" Description="DbContext Name" %>

<%@ Property Name="ModelNamespace" Type="String" Category="Model" Description="Model Namespace" %>
<%@ Property Name="ModelPrefix" Type="String" Category="Model" Optional="True" Description="Model Name Prefix" %>
<%@ Property Name="ModelSuffix" Type="String" Category="Model" Optional="True" Description="Model Name Suffix" %>

<?xml version="1.0" encoding="utf-8" ?>
<insql type="<%=DbContextNamespace%>.<%=DbContextName %>,<%= DbContextAssembly%>">
<% foreach (TableSchema tableSchema in this.Tables) { %>
  <!-- 
    <%=tableSchema.Name%>
  -->
  <map type="<%=ModelNamespace%>.<%=ModelPrefix%><%=Helper.GetModelClassName(tableSchema)%><%=ModelSuffix%>,<%= DbContextAssembly%>">
   <% foreach (ColumnSchema columnSchema in tableSchema.Columns.Where(c=> c.IsPrimaryKeyMember)) { %>
   <key name="<%=columnSchema.Name%>" to="<%=Helper.GetModelPropertyName(columnSchema)%>" />
   <%} %>
   <% foreach (ColumnSchema columnSchema in tableSchema.Columns.Where(c=> !c.IsPrimaryKeyMember)) { %>
   <column name="<%=columnSchema.Name%>" to="<%=Helper.GetModelPropertyName(columnSchema)%>" />
   <%} %>
  </map>
  
  <%if(SqlRefGenerate) {%>
  <sql id="<%=Helper.GetModelClassName(tableSchema)%>_Column_List<%=SqlIdSuffix%>">
    <%= string.Join(",",tableSchema.Columns.Select(columnSchema=>$"{QuoteOpen}{tableSchema.Name}{QuoteClose}.{QuoteOpen}{columnSchema.Name}{QuoteClose}")) %>
  </sql>
  
  <%} %>
  <select id="Select<%=Helper.GetModelClassName(tableSchema)%>CountByKey<%=SqlIdSuffix%>">
    select count(*) from <%= $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%> where <%= string.Join(" and ",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{QuoteOpen}{columnSchema.Name}{QuoteClose} = @{Helper.GetModelPropertyName(columnSchema)}")) %>
  </select>
  
  <select id="Select<%=Helper.GetModelClassName(tableSchema)%>ByKey<%=SqlIdSuffix%>">
    select * from <%= $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%> where <%= string.Join(" and ",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{QuoteOpen}{columnSchema.Name}{QuoteClose} = @{Helper.GetModelPropertyName(columnSchema)}")) %>
  </select>
  
  <insert id="Insert<%=Helper.GetModelClassName(tableSchema)%><%=SqlIdSuffix%>">
    insert into <%= $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%> (<%= string.Join(",",tableSchema.Columns.Select(columnSchema=> $"{QuoteOpen}{columnSchema.Name}{QuoteClose}")) %>) values (<%= string.Join(",",tableSchema.Columns.Select(columnSchema=> $"@{Helper.GetModelPropertyName(columnSchema)}")) %>)
  </insert>
  
  <insert id="Insert<%=Helper.GetModelClassName(tableSchema)%>Selective<%=SqlIdSuffix%>">
    insert into <%= $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%>
    <trim prefix="(" suffix=")" suffixOverrides=",">
    <% foreach (ColumnSchema columnSchema in tableSchema.Columns) { %>
    <% if(columnSchema.AllowDBNull) { %>
      <if test="<%=Helper.GetModelPropertyName(columnSchema)%> != null">
        <%=$"{QuoteOpen}{columnSchema.Name}{QuoteClose}" %>,
      </if>
    <% } else { %>
      <%=$"{QuoteOpen}{columnSchema.Name}{QuoteClose}" %>,
      <%} %>
    <%} %>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    <% foreach (ColumnSchema columnSchema in tableSchema.Columns) { %>
    <% if(Helper.IsNullableType(columnSchema)){ %>
      <if test="<%=Helper.GetModelPropertyName(columnSchema)%> != null">
        @<%=Helper.GetModelPropertyName(columnSchema)%>,
      </if>
    <% } else { %>
      @<%=Helper.GetModelPropertyName(columnSchema)%>,
      <%} %>
    <%} %>
    </trim>
  </insert>
  
  <% if(tableSchema.Columns.Any(columnSchema=> !columnSchema.IsPrimaryKeyMember)) {%>
  <update id="Update<%=Helper.GetModelClassName(tableSchema)%>ByKey<%=SqlIdSuffix%>">
    update <%= $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%>
    <set>
    <% foreach (ColumnSchema columnSchema in tableSchema.Columns.Where(columnSchema=> !columnSchema.IsPrimaryKeyMember)) { %>
     <%=$"{QuoteOpen}{columnSchema.Name}{QuoteClose}" %> = @<%=Helper.GetModelPropertyName(columnSchema)%>,
    <%} %>
    </set>
    where <%= string.Join(" and ",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{QuoteOpen}{columnSchema.Name}{QuoteClose} = @{Helper.GetModelPropertyName(columnSchema)}")) %>
  </update>
  
  <update id="Update<%=Helper.GetModelClassName(tableSchema)%>SelectiveByKey<%=SqlIdSuffix%>">
    update <%=  $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%>
    <set>
    <% foreach (ColumnSchema columnSchema in tableSchema.Columns.Where(columnSchema=> !columnSchema.IsPrimaryKeyMember)) { %>
    <% if(Helper.IsNullableType(columnSchema)){ %>
      <if test="<%=Helper.GetModelPropertyName(columnSchema)%> != null">
        <%=$"{QuoteOpen}{columnSchema.Name}{QuoteClose}" %> = @<%=Helper.GetModelPropertyName(columnSchema)%>,
      </if>
    <% } else { %>
      <%=$"{QuoteOpen}{columnSchema.Name}{QuoteClose}" %> = @<%=Helper.GetModelPropertyName(columnSchema)%>,
      <%} %>
    <%} %>
    </set>
    where <%= string.Join(" and ",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{QuoteOpen}{columnSchema.Name}{QuoteClose} = @{Helper.GetModelPropertyName(columnSchema)}")) %>
  </update>
  <%} %>
  <delete id="Delete<%=Helper.GetModelClassName(tableSchema)%>ByKey<%=SqlIdSuffix%>">
    delete from <%= $"{QuoteOpen}{tableSchema.Name}{QuoteClose}"%> where <%= string.Join(" and ",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{QuoteOpen}{columnSchema.Name}{QuoteClose} = @{Helper.GetModelPropertyName(columnSchema)}")) %>
  </delete>
<%} %>
</insql>