<%@ CodeTemplate Language="C#" ResponseEncoding="UTF-8" TargetLanguage="C#" Debug="TRUE" Inherits="OutputFileCodeTemplate"%>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>

<%@ Assembly src="Helper.cs" %>
<%@ Import Namespace="Common" %>

<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="Tables" Inherits="OutputFileCodeTemplate" %>

<%@ Property Name="DbContextNamespace" Type="String" Category="DbContext" Description="DbContext Namespace" %>
<%@ Property Name="DbContextName" Type="String" Category="DbContext" Description="DbContext Name" %>

<%@ Property Name="SqlIdModelTrimStart" Type="String" Category="DbContextXml" Optional="True" Description="SqlId Model Name TrimStart" %>
<%@ Property Name="SqlIdModelTrimEnd" Type="String" Default="Info" Category="DbContextXml" Optional="True" Description="SqlId Model Name TrimEnd" %>

<%@ Property Name="ModelNamespace" Type="String" Category="Model" Description="Model Namespace" %>

using Insql;
using <%=ModelNamespace%>;
using System;
using System.Collections.Generic;
using System.Linq;

namespace <%=DbContextNamespace%>
{
    public class <%=DbContextName %> : DbContext
    {
        public <%=DbContextName %>(DbContextOptions<<%=DbContextName %>> options) : base(options)
        {
        }
        <% foreach (TableSchema tableSchema in this.Tables) { %>
        
        #region <%=Helper.GetModelClassName(tableSchema)%>

        public void Insert<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>(<%=Helper.GetModelClassName(tableSchema)%> info)
        {
            this.Execute(nameof(Insert<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>),info);
        }
        
        <% if(tableSchema.Columns.Any(columnSchema=> columnSchema.IsPrimaryKeyMember)) {%>
        <% if(tableSchema.Columns.Any(columnSchema=> !columnSchema.IsPrimaryKeyMember)) {%>
        public void Update<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>(<%=Helper.GetModelClassName(tableSchema)%> info)
        {
            this.Execute(nameof(Update<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>),info);
        }
        
        <%} %>
        public void Delete<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>(<%= string.Join(",",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=> $"{Helper.GetModelPropertyType(columnSchema)} {Helper.GetModelPropertyName(columnSchema)}")) %>)
        {
            this.Execute(nameof(Delete<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>),new { <%= string.Join(",",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{Helper.GetModelPropertyName(columnSchema)}")) %> });
        }
        
        public <%=Helper.GetModelClassName(tableSchema)%> Select<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>(<%= string.Join(",",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
    .Select(columnSchema=>$"{Helper.GetModelPropertyType(columnSchema)} {Helper.GetModelPropertyName(columnSchema)}")) %>)
        {
            return this.Query<<%=Helper.GetModelClassName(tableSchema)%>>(nameof(Select<%=Helper.GetModelClassTrimName(tableSchema,this.SqlIdModelTrimStart,this.SqlIdModelTrimEnd)%>),new { <%= string.Join(",",tableSchema.Columns.Where(columnSchema=> columnSchema.IsPrimaryKeyMember)
                .Select(columnSchema=>$"{Helper.GetModelPropertyName(columnSchema)}")) %> }).SingleOrDefault();
        }
        <%} %>
        
        #endregion
        <%} %>
    }
}